h5 {
    margin-bottom: 0rem;
    line-height: 1;
}
.form-switch .form-check-input {
    margin-top: 2.8px;
    margin-left: -1.3em;
    margin-right: 4px;
}
label{
    font-weight: 400;
}
.badge {
    height: 17px;
}

.dropdown {
    height: 20px;
}
.btn {
    padding: 0rem 0.9rem;
}
