<div class="modal-content">
    <div class="modal-header bg-light ">
        <h5 class="modal-title">

            Cancel '{{title}}' ?
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modalService.close()"></button>
    </div>
    <div class="modal-body">

        <p class="text-muted mb-0">Are you sure you want to cancel this event because it might be have consequences for the vendor?
        </p>
        <form [formGroup]="form">
            <div class="col-md-12 form-group mt-3">
                <label class="form-label" [redStar]="form.get('reason')">Reason
                </label>
                <textarea [formControlValidator]="form.get('reason')" type="text" class="form-control"
                    placeholder="Enter Reason" formControlName="reason">
                                                            </textarea>
                <arv-validation-messages for="reason">
                </arv-validation-messages>
            </div>
        </form>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal" (click)="modalService.close()">Back
        </button>
        <button (click)="cancel()" type="button" class="btn btn-danger"> Confirm</button>


    </div>