<div class="border rounded middle">
    <h5 class="fs-16 py-3 px-2">Payment Details</h5>
    <div class="row py-2 px-2">
        <div class="col-6">
            <p class="text-muted">Payment Method:</p>
            <p class="text-muted">Card Holder Name:</p>
            <p class="text-muted">Card Number:</p>
            <p class="text-muted">Total Amount</p>
        </div>
        <div class="col-6">
            <p>Anna Josif</p>
            <p>Anna Josif</p>
            <p>Anna Josif</p>
            <p>Anna Josif</p>
        </div>
    </div>
</div>
