h5 {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #dee2e6;
}

.row {
    --vz-gutter-x: 0;
    --vz-gutter-y: 0;
}


.middle {
    height: 250px;
    max-height: 350px;
}
