<div class="row justify-content-md-between align-items-md-center mt-3">
  <div class="col col-sm-6">
    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
      Showing
      {{
        (pageNumber - 1) * pageSize == 0 ? '1' : (pageNumber - 1) * pageSize}} to
      {{(pageNumber - 1) * pageSize + 10}} of {{total}}
      entries
    </div>
  </div>
  <!-- Pagination -->
  <div class="col col-sm-6">


    <div class="text-sm-right float-sm-end listjs-pagination">
      <ngb-pagination [collectionSize]="total" [pageSize]="pageSize" [(page)]="pageNumber" [maxSize]="10"
                      [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="pageChange.emit($event)">
      </ngb-pagination>
    </div>

  </div>
  <!-- End Pagination -->
</div>
