<!-- Theme Settings -->

<ngx-simplebar class="h-100" style="padding-bottom: 50px;">
    <div class="p-4">
        <div class="row">
            <div class="col-12 my-2">
                <slider-header [user]="user"></slider-header>
            </div>
            <div class="col-12">
                <ul ngbNav #customNav="ngbNav" [activeId]="1"
                    class="nav nav-tabs nav-tabs-custom border-bottom-0 nav-success mb-3">

                    <li [ngbNavItem]="1" class="nav-item">
                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                            Overview
                        </a>
                        <ng-template ngbNavContent>
                            <details-tab [user]="user"></details-tab>
                        </ng-template>
                    </li>


                    <li [ngbNavItem]="2" *ngIf="user.role == 'CommitteeMember' || user.role == 'VendorAdmin'" class="nav-item">
                        <a ngbNavLink class="nav-link.active" data-bs-toggle="tab" role="tab">
                            Assigned Events
                        </a>

                        <ng-template ngbNavContent>
                            <assigned-events-tab [eventId]="id" [allowedAction]="allowedAction"
                                [user]="user"></assigned-events-tab>
                        </ng-template>
                    </li>
                    <hr>

                    <li [ngbNavItem]="3" class="nav-item">
                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                            Audits
                        </a>

                        <ng-template ngbNavContent>
                            <audits-tab [user]="user"></audits-tab>
                        </ng-template>
                    </li>

                </ul>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tab-content text-muted">
                            <div [ngbNavOutlet]="customNav"></div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>

        </div>

    </div>
</ngx-simplebar>

<div *ngIf="activeId == 1" class="col-12 my-2" style="position:absolute; bottom: 10px; right: 10px;">
    <div class="hstack gap-2 d-flex flex-row-reverse mt-4">
                <button (click)="Unassigned(user)"
                    *ngIf="eventAllowedAction(eventAllowedActions.EditWhenDraftOrPublished) &&  memberAllowedAction(user, memberAllowedActions.Unassign)"
                    type="button" class="btn btn-danger">
                    <i class="ri-delete-back-2-line align-bottom me-1"></i>
                    Unassign
                </button>

                <button (click)="makeContact(user)"
                    *ngIf="eventAllowedAction(eventAllowedActions.EditWhenDraftOrPublished) && memberAllowedAction(user,memberAllowedActions.MakeAsContact)"
                    style="margin: 7px;" type="button" class="btn btn-primary">
                    <i class="ri-user-follow-line align-bottom me-1"></i>
                    Make Contact
                </button>
                <button style="margin: 7px;" (click)="makeUnContact(user)"
                    *ngIf="eventAllowedAction(eventAllowedActions.EditWhenDraftOrPublished)   && memberAllowedAction(user,memberAllowedActions.MakeAsUnContact)"
                    type="button" class="btn btn-warning">
                    <i class="ri-user-follow-line align-bottom me-1"></i>
                    Make Uncontact
                </button>
            </div>
    </div>