<div class="position-relative mx-n4 mt-n4">
  <div class="profile-wid-bg profile-setting-img">
    <img src="assets/images/top profile info.png" class="profile-wid-img" alt="">
  </div>
</div>

<div class="row">
  <div class="col-xxl-3">

    <update-profile-image [activeId]="activeId" [userInfo]="userProfile"
      (onImageChangeSend)="saveImageInComponent($event)"></update-profile-image>

    <!--end card-->
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center mb-5">
          <div class="flex-grow-1">
            <h5 class="card-title mb-0">Complete Your Profile</h5>
          </div>
        </div>
        <div class="progress animated-progess custom-progress progress-label">
          <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': completionPercentage + '%'}"
            [attr.aria-valuenow]="completionPercentage" aria-valuemin="0" aria-valuemax="100">
            <div class="label">{{completionPercentage}}%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end col-->
  <div class="col-xxl-9">
    <div class="card mt-xxl-n5">
      <div class="card-header">
        <ul ngbNav #customNav="ngbNav" [activeId]="activeId" [destroyOnHide]="true"
          class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
          <li [ngbNavItem]="1" class="nav-item">
            <a ngbNavLink [routerLink]="['/users/profile-settings']" class="nav-link" data-bs-toggle="tab" role="tab">
              <i class="fas fa-home"></i>
              Personal Details
            </a>
            <ng-template ngbNavContent>
              <update-user-profile [image]="image" [userProfile]="userProfile"></update-user-profile>
            </ng-template>
          </li>
          <li [ngbNavItem]="2" class="nav-item">
            <!-- Hint : here i used href not routerlink becouse the Validation Password Options not working with routerlink -->
            <a ngbNavLink href="/users/profile-settings/change-password" class="nav-link" data-bs-toggle="tab"
              role="tab">
              <i class="far fa-user"></i>
              Change Password
            </a>
            <ng-template ngbNavContent>
              <change-password></change-password>
            </ng-template>
          </li>

          <li [ngbNavItem]="3" class="nab-item" *ngxPermissionsOnly="[vendorRole]">
            <a ngbNavLink [routerLink]="['/users/profile-settings/sign']" class="nav-link" data-bs-toggle="tab"
              role="tab">
              <i class=""></i>
              Verification Document
            </a>
            <ng-template ngbNavContent>
              <verification-document [signatureImage]="signature"></verification-document>
            </ng-template>
          </li>
        </ul>
      </div>
      <div class="card-body p-4">
        <div class="tab-content">
          <div [ngbNavOutlet]="customNav"></div>
        </div>
      </div>
    </div>
  </div>
  <!--end col-->
</div>
<!--end row-->