img {
  margin-top: -22px;
  object-fit: contain;
  margin-right: 11px;
  background: #efefef;
}

.apply-scroll {
  max-height: 200px;
  float: left;
  width: 100%;
  overflow-y: auto;
  max-height: 450px;
}
