<div class="card">
    <div class="row">
        <div class="col-12 my-2">
            <receipt-header></receipt-header>
        </div>
        <div class="col-12 my-2">
            <order-basic-info></order-basic-info>
        </div>
        <div class="col-12 my-2">
            <div class="card-body p-4 border-top border-top-dashed">
                <div class="row g-3">
                    <div class="col-6">
                        <customer></customer>
                    </div>
                    <div class="col-6">
                        <payment-details></payment-details>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 my-2">
            <div class="card-body p-4">
                <order-items></order-items>
                <div class="mt-4">
                    <div class="alert alert-info">
                        <p class="mb-0"><span class="fw-semibold">NOTES:</span>
                            <span id="note">All accounts are to be paid within 7 days from receipt of invoice. To be
                                paid by cheque or
                                credit card or direct payment online. If account is not paid within 7
                                days the credits details supplied as confirmation of work undertaken
                                will be charged the agreed quoted fee noted above.
                            </span>
                        </p>
                    </div>
                </div>
                <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                    <a href="javascript:window.print()" class="btn btn-success"><i
                            class="ri-printer-line align-bottom me-1"></i> Print</a>
                    <a href="javascript:void(0);" class="btn btn-success"><i
                            class="ri-download-2-line align-bottom me-1"></i> Download</a>
                </div>
            </div>
        </div>
    </div>
</div>