<div class="card">
  <div class="card-body">
    <form [formGroup]="userTermsForm" (submit)="onUserSubmit()">
      <div class="mb-3 form-group">
        <label class="form-label text-dark" [redStar]="userTermsForm.get('publicTermsAndConditions')">Customer's Terms
          And Conditions</label>
        <ckeditor [editor]="UserEditor" [config]="editorConfig"
          [formControlValidator]="userTermsForm.get('publicTermsAndConditions')" id="userTerms"
          formControlName="publicTermsAndConditions" data="">
        </ckeditor>

        <arv-validation-messages for="publicTermsAndConditions"></arv-validation-messages>
      </div>
      <div class="text-end mb-3">
        <button [disabled]="userTermsForm.invalid" type="submit" class="btn btn-success w-sm">Save </button>
      </div>
    </form>
  </div>
</div>