.customer {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #dee2e6;
}



.row {
    --vz-gutter-x: 0;
    --vz-gutter-y: 0;
}

p {
    margin-bottom: 2px;
}


