<h6 class="text-muted text-uppercase fw-semibold mb-3">Customer</h6>
                                <p class="fw-medium mb-2" id="billing-name">David Nichols</p>
                                <p class="text-muted mb-1" id="billing-address-line-1">305 S San Gabriel Blvd</p>
                                <p class="text-muted mb-1"><span>Phone: +</span><span id="billing-phone-no">(123) 456-7890</span></p>
                                <p class="text-muted mb-0"><span>Email: </span><span id="billing-tax-no">mohamed@gnana.com</span> </p>
