
<div class="mt-3" >
  <p-table *ngIf="tableService.dataList?.length > 0;else emptyTempVendorAdmin"
  [value]="tableService.data$ | async"
  [columns]="tableService.selectedColumns"
  [rows]="tableService.options.rows"
  [currentPageReportTemplate]="tableService.options.currentPageReportTemplate"
  (onLazyLoad)="tableService.onLazyLoad($event)"
  [lazy]="tableService.options.lazy"
  [totalRecords]="tableService.total$ | async"
  [showCurrentPageReport]="tableService.options.showCurrentPageReport"
  [responsiveLayout]="tableService.options.responsiveLayout"
  [rowsPerPageOptions]="tableService.options.rowsPerPageOptions"
  [styleClass]="tableService.options.styleClass">

    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <th  [pSortableColumn]="col.field" *ngIf="col.allowSorting" style="font-size: 10px">
            {{col.title}}
              <p-sortIcon [field]="col.field" ></p-sortIcon>
          </th>
          <th *ngIf="!col.allowSorting" style="font-size: 10px">
            {{col.title}}
          </th>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row let-columns="columns">
      <tr style="font-size: 12px" >
        <td *ngFor="let col of columns">
          <table-column *ngIf="col.type !== 'custom'" [dataItem]="row" [option]="col"></table-column>

          <ng-container *ngIf="col.type === 'custom'">
            <div *ngIf="col.field === 'name'" class="d-flex align-items-center">
              <app-user-info [userData]="row" [displayImage]="false"></app-user-info>
            </div>

            <div *ngIf="col.field === 'createdDate'" class="d-flex align-items-center">
              {{row.createdDate | date}}
            </div>

            <div *ngIf="col.field === 'isLocked'" class="d-flex align-items-center text-center">
              <i *ngIf="!row.isLocked" class="ri-lock-unlock-line text-success text-center"></i>
              <i *ngIf="row.isLocked" class="ri-lock-line text-danger text-center"></i>
            </div>

            <ng-container *ngIf="col.field === 'actions'" [ngTemplateOutletContext]="{item:row}" container="body"
              [ngTemplateOutlet]="actionsVendor">
            </ng-container>

            <span *ngIf="col.field === 'isActive'" activeStatusBadge [value]="row?.isActive"></span>

          </ng-container>

        </td>
      </tr>
    </ng-template>

  </p-table>
</div>

<ng-template #actionsVendor let-item="item">
  <div *ngIf="item.role !==publicUserRole" class="dropdown ml-2" ngbDropdown>
    <a class="text-muted arrow-none" href="javascript:void(0);" data-bs-toggle="dropdown" style="margin-left: 22px;"
      aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
      <i class="ri-more-fill"></i>
    </a>
    <div class="dropdown-menu dropdown-menu" ngbDropdownMenu style="transform: translate(-202px, 15.2222px);">

      <a class="dropdown-item cursor-pointer" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas"
      aria-controls="theme-settings-offcanvas" (click)="openOrderSlider(filtetcontent, item)">
      <i class="ri-eye-line text-primary align-bottom"></i> Preview</a>

    </div>
  </div>
</ng-template>

<ng-template #emptyTempVendorAdmin>
  <div class="tab-pane" id="productnav-draft" role="tabpanel">
    <div class="py-4 text-center">
      <div>
        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
          colors="primary:#405189,secondary:#0ab39c" style="width:72px;height:72px">
        </lord-icon>
      </div>
      <div class="mt-4">
        <h5>Sorry! No Result Found</h5>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #filtetcontent let-offcanvas>
  <div class="d-flex align-items-center bg-light bg-gradient p-3 offcanvas-header">
      <h5 class="m-0 me-2 text-dark"><b>{{previewUser?.name}}</b></h5>
      <button type="button" class="btn-close btn-close-dark ms-auto " data-bs-dismiss="offcanvas" aria-label="Close"
          (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body p-0">
      <preview-slider [user]="previewUser"></preview-slider>
  </div>
</ng-template>
