<div class="auth-page-wrapper pt-5">
  <!-- auth page bg -->
  <div class="auth-one-bg-position auth-one-bg" id="auth-particles">

    <div class="shape">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1440 120">
        <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
      </svg>
    </div>
  </div>

  <!-- auth page content -->
  <div class="auth-page-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center mt-sm-5 mb-4 text-white-50">
            <div>
              <a routerLink="/" class="d-inline-block auth-logo">
                <img src="assets/images/logo-light.png" alt="" [height]="90">
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->

      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card mt-4">
            <div class="card-body p-4">

              <ng-container *ngIf="displayForm" [ngClass]="'text-center'">
                <ng-container *ngTemplateOutlet="formTemp"></ng-container>
              </ng-container>

              <ng-container *ngIf="displaySuccess" [ngClass]="'text-center'">
                <ng-container *ngTemplateOutlet="successTemp"></ng-container>
              </ng-container>

              <ng-container *ngIf="displayError">
                <ng-container *ngTemplateOutlet="errorTemp"></ng-container>
              </ng-container>
            </div>
            <!-- end card body -->
          </div>
          <!-- end card -->

          <div class="mt-4 text-center">
            <p class="mb-0">Wait, I remember my password... <a routerLink="/auth/login"
                                                               class="fw-semibold text-primary text-decoration-underline">
              <u><I>Click here</I></u> </a></p>
          </div>

        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end auth page content -->

  <!-- footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <p class="mb-0 text-muted">
              © {{year}} Events RSVP
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end Footer -->
</div>
<!-- end auth-page-wrapper -->


<ng-template #successTemp>
  <div class="card-body p-4 text-center">
    <div class="avatar-lg mx-auto mt-2">
      <div class="avatar-title bg-light text-success display-3 rounded-circle">
        <i class="ri-checkbox-circle-fill"></i>
      </div>
    </div>
    <div class="mt-4 pt-2">
      <h4>Success!</h4>
      <p class="text-muted mx-4">Password has been reset successfully!</p>
      <div class="mt-4">
        <a routerLink="/auth/login" class="btn btn-success w-100">Back to Login</a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #errorTemp>
  <div class="card-body p-4 text-center">
    <div class="avatar-lg mx-auto mt-2">
      <div class="avatar-title bg-light text-success display-3 rounded-circle">
        <i class=" ri-error-warning-fill" style="color: red;"></i>
      </div>
    </div>
    <div class="mt-4 pt-2">
      <h4>Danger!</h4>
      <p class="text-muted mx-4">An error has occured.</p>
      <div class="mt-4">
        <a routerLink="/auth/login" class="btn btn-danger w-100">Back to Dashboard</a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #formTemp>
  <div class="card-body p-4">
    <div class="text-center mt-2">
      <h5 class="text-primary">Reset password</h5>
    </div>
    <div class="p-2">
      <form [formGroup]="passresetForm">
        <div class="mb-3">
          <label class="form-label" for="password-input" [redStar]="passresetForm.get('password')">Password</label>
          <div class="position-relative auth-pass-inputgroup">
            <input (focus)="showValidationPasswordOption()" [type]="passwordField ? 'text' : 'password'"
                   class="form-control pe-5 password-input" placeholder="Enter password" id="password-input"
                   aria-describedby="passwordInput"
                   formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
            <button style="margin-right: 16px;"
                    class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                    type="button" id="password-addon"><i class="ri-eye-fill align-middle" [ngClass]="{'mdi-eye-off-outline': !passwordField, 'mdi-eye-outline': passwordField
                                }" (click)="togglepasswordField()"></i></button>
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
              <span *ngIf="f['password'].errors['required']">Password is required</span>
            </div>
          </div>
        </div>

        <div class="form-group mb-3">
          <label class="form-label" for="confirm-password-input" [redStar]="passresetForm.get('confirmPassword')">Confirm
            Password</label>
          <div class="position-relative auth-pass-inputgroup mb-3">
            <input [type]="confirmField ? 'text' : 'password'" class="form-control pe-5 password-input"
                   placeholder="Re-enter password"
                   id="confirm-password-input"
                  formControlName="confirmPassword"
                   [formControlValidator]="passresetForm.get('confirmPassword')">
            <button style="margin-right: 16px;"
                    class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                    type="button" id="confirm-password-input"><i class="ri-eye-fill align-middle" [ngClass]="{'mdi-eye-off-outline': !passwordField, 'mdi-eye-outline': passwordField
                                }" (click)="toggleconfirmField()"></i></button>
            <arv-validation-messages for="confirmPassword"></arv-validation-messages>
          </div>
        </div>

        <div id="password-contain" class="p-3 bg-light mb-2 rounded">
          <validation-password-options></validation-password-options>
        </div>

        <ng-container *ngIf="params.displaySignature">
          <ng-container *ngTemplateOutlet="signature">

          </ng-container>
        </ng-container>

        <div class="mt-4">
          <div class="form-check mb-3" *ngIf="params.displaySignature">
            <input class="form-check-input" type="checkbox" formControlName="agreeTermsAndConditions" />
            <label class="form-check-label">
              I agree to
              <a href="/auth/terms-and-conditions" class="text-secondary" target="_blank"><u><I>terms and
                    conditions</I></u></a>
            </label>
          </div>
          <button [disabled]="(passresetForm.invalid && isConfirmEqual)" class="btn btn-success w-100" (click)="onSubmit()" type="submit">
            Reset Password
          </button>
        </div>

      </form>
    </div>
  </div>
</ng-template>



<ng-template #signature>
  <!-- Info Alert -->
        <div class="alert alert-info alert-top-border alert-dismissible fade show fs-12" role="alert">
          <i class="ri-information-line me-3 align-middle fs-16 text-info"></i>
          Please Preview And Sign Our <a
            [ngClass]="{ 'disable-link': verificationDocument?.verificationDocumentUrl == null}"
            (click)="openPreviewAndSign()" href="javascript:void(0)" class="text-info fs-12"> <u><b>Verification
                Document</b></u> </a>
        </div>
</ng-template>
