<form [formGroup]="updatePasswordForm" (submit)="onPasswordSubmit()">
  <div class="row g-2 d-flex">
    <div class="col-lg-8 col-md-10 col-12">
      <div class="alert alert-warning alert-border-left alert-dismissible fade show" role="alert">
        <i class="ri-alert-line me-3 align-middle"></i> <strong>Warning</strong> - You will be redirected to
        log in again after changing your password successfully
      </div>
    </div>
    <div class="col-lg-8 col-md-10 col-12 form-group">
      <label for="oldpasswordInput" class="form-label" [redStar]="updatePasswordForm.get('oldPassword')">Old
        Password</label>
      <div class="form-group position-relative auth-pass-inputgroup">
        <input [type]="oldFieldTextType ? 'text' : 'password'"
               [formControlValidator]="updatePasswordForm.get('oldPassword')"
               class="form-control"
               formControlName="oldPassword" id="oldpasswordInput" placeholder="Enter Old Password">
        <button style="margin-right: 16px;"
          class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted" type="button"
          id="password-addon"><i class="mdi align-middle" [ngClass]="{'mdi-eye-off-outline': !oldFieldTextType, 'mdi-eye-outline': oldFieldTextType
                                          }" (click)="toggleOldFieldTextType()"></i></button>
        <arv-validation-messages for="oldPassword"></arv-validation-messages>
      </div>
      <label class="form-label mt-3" [redStar]="updatePasswordForm.get('newPassword')">New
        Password</label>
      <div class="form-group position-relative auth-pass-inputgroup">
        <input id="password-input" (focus)="showValidationPasswordOption()"
               [type]="newFieldTextType ? 'text' : 'password'"
               [formControlValidator]="updatePasswordForm.get('newPassword')"
               class="form-control password-input" aria-describedby="passwordInput"
               formControlName="newPassword" placeholder="Enter New Password">
        <button style="margin-right: 16px;"
          class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted" type="button"><i
            class="mdi align-middle" [ngClass]="{'mdi-eye-off-outline': !newFieldTextType, 'mdi-eye-outline': newFieldTextType
                                          }" (click)="toggleNewFieldTextType()"></i></button>
        <arv-validation-messages for="newPassword"></arv-validation-messages>
      </div>
      <label class="form-label  mt-3" [redStar]="updatePasswordForm.get('confirmPassword')">Confirm New
        Password</label>
      <div class="form-group position-relative auth-pass-inputgroup">
        <input [type]="confirmFieldTextType ? 'text' : 'password'"
               [formControlValidator]="updatePasswordForm.get('confirmPassword')" class="form-control"
               formControlName="confirmPassword" id="confim-password" placeholder="Re-enter Password">
        <button style="margin-right: 16px;"
          class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted" type="button"><i
            class="mdi align-middle" [ngClass]="{'mdi-eye-off-outline': !confirmFieldTextType, 'mdi-eye-outline': confirmFieldTextType
                                          }" (click)="toggleConfirmFieldTextType()"></i></button>
        <arv-validation-messages for="confirmPassword"></arv-validation-messages>
      </div>
      <div id="password-contain" class="p-3 bg-light mb-2 rounded mt-3">
        <validation-password-options></validation-password-options>
      </div>
      <div class="mb-3  mt-3">
        <a href="/auth/forgot-password" class="link-primary text-decoration-underline">Forgot Password ?</a>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="hstack gap-2 justify-content-end mt-3">
        <button routerLink="/users/profile" type="button" class="btn btn-light">Cancel
        </button>
        <button [disabled]="updatePasswordForm.invalid && isConfirmEqual" type="submit" class="btn btn-success">Save
        </button>
      </div>
    </div>
  </div>
</form>
