<!-- Theme Settings -->

<ngx-simplebar class="h-100" style="padding-bottom: 50px;">

        <div class="row">
            <div class="col-12 my-2 px-4">
                <slider-customer [request]="request"></slider-customer>
            </div>
            <hr class="dashed-line my-2">     
            <div class="col-12 px-4">
                <slider-order-history [request]="request"></slider-order-history>
            </div>
            <hr class="dashed-line my-2">     
            <div class="col-12 my-2 px-4">
                <ul ngbNav #customNav="ngbNav" [activeId]="request?.numberOfOrders > 0 ? 1 : 2"
                    class="nav nav-tabs nav-tabs-custom border-bottom-0 nav-success mb-3">

                    <li [ngbNavItem]="1" *ngIf="request?.numberOfOrders > 0">
                        <a ngbNavLink>
                             Orders
                        </a>
                        <ng-template ngbNavContent *ngIf="customNav.activeId == 1">
                            <ng-container>
                                <request-orders [request]="request"></request-orders>
                            </ng-container>
                        </ng-template>
                    </li>

                    <li [ngbNavItem]="2" class="nav-item">
                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                            Audits
                        </a>

                        <ng-template ngbNavContent>
                            <request-audits [request]="request"></request-audits>
                        </ng-template>
                    </li>

                </ul>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tab-content text-muted">
                            <div [ngbNavOutlet]="customNav"></div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                </div>
        </div>

        

</ngx-simplebar>


<div *ngIf="request?.status == 1" class="col-12 my-2" style="position:absolute; bottom: 10px; right: 10px;">
    <div class="hstack gap-2 d-flex flex-row-reverse mt-4">
        <a href="javascript:void(0);" class="btn btn-success mx-1" (click)="approve.emit([request])"
        *ngIf="eventAllowedAction(eventAllowedActions.EditWhenPublished)"><i class="ri-checkbox-circle-line align-bottom me-1"></i>
            Approve</a>
        
            <a href="javascript:void(0);" class="btn btn-danger mx-1" (click)="reject.emit([request])"
        *ngIf="eventAllowedAction(eventAllowedActions.EditWhenPublished)"><i class="ri-close-circle-line align-bottom me-1"></i>
            Reject</a>
    </div>
</div>