    <div class="table-responsive">
        <table class="table table-borderless text-center table-nowrap align-middle mb-0">
            <thead>
                <tr class="table-active">
                    <th scope="col" style="width: 50px;">#</th>
                    <th scope="col">Product Details</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Quantity</th>
                    <th scope="col" class="text-end">Amount</th>
                </tr>
            </thead>
            <tbody id="products-list">
                <tr>
                    <th scope="row">01</th>
                    <td class="text-start">
                        <span class="fw-medium">Sweatshirt for Men (Pink)</span>
                        <p class="text-muted mb-0">Graphic Print Men & Women Sweatshirt</p>
                    </td>
                    <td>$119.99</td>
                    <td>02</td>
                    <td class="text-end">$239.98</td>
                </tr>
                <tr>
                    <th scope="row">02</th>
                    <td class="text-start">
                        <span class="fw-medium">Noise NoiseFit Endure Smart Watch</span>
                        <p class="text-muted mb-0">32.5mm (1.28 Inch) TFT Color Touch Display</p>
                    </td>
                    <td>$94.99</td>
                    <td>01</td>
                    <td class="text-end">$94.99</td>
                </tr>
                <tr>
                    <th scope="row">03</th>
                    <td class="text-start">
                        <span class="fw-medium">350 ml Glass Grocery Container</span>
                        <p class="text-muted mb-0">Glass Grocery Container (Pack of 3, White)</p>
                    </td>
                    <td>$24.99</td>
                    <td>01</td>
                    <td class="text-end">$24.99</td>
                </tr>
                <tr>
                    <th scope="row">04</th>
                    <td class="text-start">
                        <span class="fw-medium">Fabric Dual Tone Living Room Chair</span>
                        <p class="text-muted mb-0">Chair (White)</p>
                    </td>
                    <td>$340.00</td>
                    <td>01</td>
                    <td class="text-end">$340.00</td>
                </tr>
            </tbody>
        </table>
        <!--end table-->
    </div>
    <div class="border-top border-top-dashed mt-2">
        <table class="table table-borderless table-nowrap align-middle mb-0 ms-auto" style="width:250px">
            <tbody>
                <tr class="border-top border-top-dashed fs-15">
                    <th scope="row">Total Quantity</th>
                    <th class="text-end">25</th>
                </tr>
                <tr class="border-top border-top-dashed fs-15">
                    <th scope="row">Total Amount</th>
                    <th class="text-end">$755.96</th>
                </tr>
            </tbody>
        </table>
        <!--end table-->
    </div>
