<section>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="m-0 me-2 text-dark">Activate</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"
        (click)="modalService.close()"></button>
    </div>
    <div class="modal-body">
      <div class="mt-2 text-center">

        <lord-icon src="https://cdn.lordicon.com/hjeefwhm.json" trigger="loop" colors="primary:#0ab39c"
          style="width:100px;height:100px"></lord-icon>
        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
          <h4>Are you Sure ?</h4>
          <p class="text-muted mx-4 mb-0">Are you sure you want to activate this '{{title}}' ?</p>
        </div>
      </div>
      <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
        <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal" (click)="modalService.close()">Cancel
        </button>
        <button type="button" class="btn w-sm btn-success" id="delete-product" (click)="delete()">Activate
        </button>
      </div>
    </div>
  </div>
</section>