<div class="ps-5">
    <div id="collapseOne" class="accordion-collapse collapse show"
         aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div *ngIf="activity.extraInfo.dependanciesList.length == 0" [innerHtml]="activity.description"></div>
      <div *ngIf="activity.extraInfo.dependanciesList.length > 0" [innerHtml]="prepareDescription()">
      </div>

      <div class="avatar-group" *ngIf="activity.extraInfo.property == 'Members'">
        <div class="avatar-group-item" *ngFor="let user of activity.extraInfo.dependanciesList">
          <a href="javascript: void(0);" class="d-block" ngbTooltip="{{getName(user)}}" placement="top">
            <img [src]="getImageUrl(user) | secure | async" default-image alt="" class="rounded-circle avatar-xxs">
          </a>

        </div>
      </div>
    </div>
  </div>
