<h5 class="fs-13">Password must contain:</h5>
<p id="pass-equal" class="invalid fs-12 mb-2">Your new password must be different from previous used one.</p>
<p id="pass-length" class="invalid fs-12 mb-2">Minimum <b>{{passwordOptions.MinimumCharacters}} characters</b></p>
<p id="pass-lower" class="invalid fs-12 mb-2">At least <b>lowercase</b> letter (a-z)</p>
<p id="pass-upper" class="invalid fs-12 mb-2">At least <b>uppercase</b> letter (A-Z)</p>
<p id="pass-number" class="invalid fs-12 mb-2">At least <b>number</b> (0-9)</p>
<p id="pass-spceial" class="invalid fs-12 mb-0">At least <b>special characters</b> (@ , $,..)</p>